<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>그룹 정보 조회</title>
</head>

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>그룹 정보 조회</h2>
    </div>
    <hr class="my-4">
    <div>
            <table class="table">
                <tr>
                    <td>작성자</td>
                    <td th:text="${groupInfo.memberId}"></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td th:text="${groupInfo.title}"></td>
                </tr>
                <tr>
                    <td>그룹 사진</td>
                    <td><img th:src="|/groupinfo/image/${groupInfo.groupImg}|" width="300" height="300"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td th:text="${groupInfo.content}"></td>
                </tr>
                <tr>
                    <td>모임 방식</td>
                    <td th:text="${groupInfo.type}"></td>
                </tr>
                <tr>
                    <td>모임 지역</td>
                    <td th:text="${groupInfo.local}"></td>
                </tr>
                <tr>
                    <td><a th:href="@{/main.com}">메인화면</a></td>
                    <td><a th:href="@{'/groupinfo/updateform/' + ${groupInfo.id}}">수정하기</a></td>
                    <td><a th:href="@{'/groupinfo/delete/' + ${groupInfo.id}}">삭제하기</a></td>
                    <td><button>가입하기</button></td>
                </tr>
            </table>
    </div>
</div>
</body>
</html>