<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>그룹 목록</title>
</head>
<body>
<div class="container" style="max-width: 1200px">
    <div class="py-5 text-center">
        <h2>그룹 목록</h2>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>그룹번호</th>
                <th></th>
                <th>제목</th>
                <th>좋아요수</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="groupInfo : ${groupInfo}">
                <td><a th:href="@{'/groupinfo/readform/' + ${groupInfo.id}}"><p th:text="${groupInfo.id}">그룹번호</p></a></td>
                <td><a th:href="@{'/groupinfo/readform/' + ${groupInfo.id}}"><img th:src="|/groupinfo/image/${groupInfo.groupImg}|" width="50" height="50"></a></td>
                <td><a th:href="@{'/groupinfo/readform/' + ${groupInfo.id}}"><p th:text="${groupInfo.title}">제목</p></a></td>
                <td th:text="${groupInfo.likecount}">좋아요수</td>
                <td th:text="${groupInfo.memberId}">작성자</td>
                <td th:text="${groupInfo.count}">조회수</td>
                <td th:text="${groupInfo.createDate}">작성일</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><a th:href="@{/main.com}">메인화면</a></td>
                <td><a th:href="@{/groupInfoWrite}">그룹생성</a></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>