<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>그룹 정보 수정</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>그룹 정보 수정하기</h2>
    </div>
    <hr class="my-4">
    <div>
        <form method="post" action="/groupinfo/update/{id}" enctype="multipart/form-data">
            <table class="table">
                <tr>
                    <td>작성자</td>
                    <td><input type="text" name="memberId" id="memberId"/></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><textarea type="text" name="title" id="title" style="width: 600px; height: 50px;"></textarea></td>
                </tr>
                <tr>
                    <td>그룹 사진</td>
                    <td><input type="file" name="groupImg" id="groupImg"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="content" id="content" style="width: 600px; height: 800px;"></textarea></td>
                </tr>
                <tr>
                    <td>모임 방식</td>
                    <td>
                        <input type="radio" name="type" id="type_all" value="온라인">모두</input>
                        <input type="radio" name="type" id="type_online" value="온라인">온라인</input>
                        <input type="radio" name="type" id="type_offline" value="오프라인">오프라인</input>
                    </td>
                </tr>
                <tr>
                    <td>모임 지역</td>
                    <td>
                        <select name="local">
                            <option value="">지역선택</option>
                            <option value="서울">서울</option>
                            <option value="인천">인천</option>
                            <option value="대전">대전</option>
                            <option value="대구">대구</option>
                            <option value="부산">부산</option>
                            <option value="울산">울산</option>
                            <option value="광주">광주</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><a th:href="@{/main.com}">메인화면</a></td>
                    <td><input type="submit" value="그룹 만들기" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>