<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2>회원 목록</h2>
        </div>
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>패스워드</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>권한</th>
                </tr>
                </thead>
                <tbody>
                </tr>
                <tr th:each="membersList : ${membersList}">
                    <td th:text="${membersList.memberId}">${memberList.memberId}</td>
                    <td th:text="${membersList.pwd}">${memberList.pwd}</td>
                    <td th:text="${membersList.name}">${memberList.name}</td>
                    <td th:text="${membersList.email}">${memberList.email}</td>
                    <td th:text="${membersList.role}">${memberList.role}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->
</body>
</html>